html {  /* uses element selector */
    height: 100%;
    font-family: fantasy;
    margin: 20px 20px 20px 20px;
}

* { margin:0; padding:0; box-sizing: border-box;}

.darkBlue{
    color: #002642;
}

/* uses element selector */
h3,
ol,
form{
    color: #fed9b7;
}

/* uses element selector */
p, li {
    color: #fdfcdc;
}

/* uses element selector */
main {
    padding: 10px;
}

 /* uses element selector */
ol {
    margin-left: 30px;
}

/* uses element selector */
iframe {
    border: 5px solid #f07167;
}

/* uses element selector */
body {
    background-color: #0081a7;
    font-size: 22px;
}

/* uses element selector */
input, button {
    border: 3px #002642 solid;
    background-color: #fed9b7;
    color: #f07167;
}

/* uses element selector */
section {
    padding-top: 60px;
}

/* uses id selector */
#imgRound {
    border-style: solid;
    border-color: #00afb9;
    border-radius: 25px;
    border-width: 40px;
}

/* uses element selector */
img {
    border: 8px #fed9b7 solid;
}

/* uses element selector */
h1 {
    color: #f07167;
}

/* uses element selector */
h2 {
    color: #fed9b7;
}

/* uses element selector */
tr {
    text-align: center;
    padding: 10px;
    color: #0d393b
}

/* uses element selector */
caption {
    text-align: center;
    color: #0d393b;
    font-size: 33px;
}

/* uses element selector */
table {
    border: 5px #002642 solid;
    color: #0081a7;
    /* use margins to center the table */
    margin-left: auto;
    margin-right: auto;
}

/* uses element selector */
a {
    color: #00afb9;
    border: #0081a7;
}

/* uses element selector */
td {
    background-color: rgba(244, 151, 142);
    border: 2px solid;
    color: #0d393b;
}

/* uses element selector */
th {
    color: #002642;
    background-color: #FFE19C;
    border: 2px solid;
}

/* uses element selector */
nav {
    justify-content: center;
    text-align: center;
    font-size: 20px;
}

/* uses element selector */
header {
    border-color: #f07167;
    border-width: 30px;
    border-style: ridge double;
    background-color: #fed9b7;
    text-align: center;
    font-size: 22px;
    color: #0081a7;
}

/* uses element selector */
footer {
    display: flex;
    justify-content: center;
    color: #fed9b7;
    position: relative;
    margin: auto;
    width: 100%;
}

/* uses class selector */
.center {    
    display: flex;
    justify-content: center;
} 

/* uses class selector */
div.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-evenly;
    align-items: center;
    border: 10px #fdfcdc;
    border-style: solidcolor;
    padding: 20px 40px;
    background: #00afb9;
}

/* uses element selector */
figcaption {
    display:flex;
    justify-content: center;
}

/* Use this media query to be able to view on my iPhone by adjusting sizes */
@media all and (max-width: 500px) {
    html {
        height: 100%;
        font-family: Arial;
        margin: 20px 20px 20px 20px;
    }

    header, footer, button, figcaption, li, p, h2, tr, caption, p, li {
        font-size: 11px;
    }

    figcaption, h1, th {
        font-size: 12px;
        padding: 10px;
    }

    nav {
        font-size: 10px;
        padding: 8px;
    }

    img.scale {
        width: 100%;
        height: auto;
    }

    #imgRound {
        border-radius: 25px;
        border-width: 10px;
    }

    caption {
        color: #fed9b7;
        padding: 8px;
        font-size: 13px;
    }
}