html {  /* uses element selector */
    height: 100%;
    font-family: fantasy;
}

#homeHeader {   /* uses id selector */
    color: white;
    background-color: rgba(255, 192, 203, 0.5);
    text-align: center;
    width: 100%;
    height: 130px;
}

#homeBody {    /* uses id selector */
    background-image: url('https://i.imgur.com/w0iuJaK.jpg');
    width:700;

    font-size: 22px;
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
}

#homeFooter {   /* uses id selector */
    color:white;
    background-color:rgba(255, 192, 203, 0.5);
    position:absolute;
    text-align:center;
    bottom:0;
    width:100%;
}

footer { /* uses element selector */
    color: white;
    background-color: pink;
    text-align: center;
    width: 100%;
    padding: 10px;
}

h1, tr {    /* uses element selector */
    text-align: center;
    padding: 10px;
    color: #0d393b
}

caption {
    /* uses element selector */
    text-align: center;
    color: #0d393b;
    font-size: 33px;
}
h2, h3, ol, form {
    color: white;
}

a, p { /* uses element selector */
    color: white;
}

table {
    border: 5px solid white;
}

td {
    color: white;
    background-color:#1e787d;
    background: pink;
}

th {
    color: white;
    background-color: #1e787d
}

nav { /* uses element selector */
    color:white;
    justify-content: center;
    text-align: center;
    height:130px;
    font-size: 20px;
}

.restOfPagesBody {   /* uses class selector */
    background-color:rgb(120, 189, 198);
    height: 100%;
    font-size: 22px;
}

.restOfPagesHeader {    /* uses class selector */
    background: pink;
    font-size: 22px;
}

/* #rideHomeImgs {
    width:"306";
    height:"408"
} */