/* = = = = = = = = = EVERYTHING = = = = = = = = = =*/
* { 
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: fantasy;
}

/* = = = = = = = = = ALL PAGES = = = = = = = = = = */
html,
body {
    height: 100%;
    background-color: #0081a7;
    font-size: 22px;
}

nav {
    justify-content: center;
    text-align: center;
    font-size: 20px;
    width: 90%;
}

header {
    display: flex;
    justify-content: center;
    border-color: #f07167;
    border-width: 30px;
    border-style: ridge double;
    background-color: #fed9b7;
    font-size: 22px;
    color: #0081a7;
    margin: 2rem;
}

.babyAspirin {
    color: #fed9b7;
}

footer {
    display: flex;
    justify-content: center;
    align-content: center;
    color: #fed9b7;
    margin: auto;
    width: 100%;
}

img {border: 1rem #fed9b7 solid;}

h1,
.forms {
    color: #f07167;
}

h2,
h3,
ol,
form {
    color: #fed9b7;
}

/* = = = = = = = = = = INDEX = = = = = = = = = = = */
/* This allows the image to be scaled */
.mugShot {
    max-width: 100%;
    height: auto;
}

.backgroundImage {
    text-align: center;
    display: flex;
    justify-content: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.darkBlue {
    color: #002642;
}

/* = = = = = = = = ALL THINGS NINA = = = = = = = = */
.formCenter {
    text-align: center;
}

p, li {
    color: #fed9b7;
}

ol {
    margin-left: 30px;
}

iframe {
    border: 5px solid #f07167;
    width: 100%;
    height: auto;
}

input, button, #submit {
    border: 3px #002642 solid;
    background-color: #fed9b7;
    color: #f07167;
}

table {
    border: 5px #002642 solid;
    color: #0081a7;
    /* use margins to center the table */
    margin-left: auto;
    margin-right: auto;
}

a {
    color: #00afb9;
    border: #0081a7;
}

tr {
    text-align: center;
    padding: 10px;
    color: #0d393b
}

th {
    color: #002642;
    background-color: #FFE19C;
    border: 2px solid;
}

td {
    background-color: rgba(244, 151, 142);
    border: 2px solid;
    color: #0d393b;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    border: 10px #fdfcdc;
    border-style: solidcolor;
    padding: 20px 40px;
    background: #00afb9;
}

figcaption {
    display:flex;
    justify-content: center;
}

.flex-row, .gform {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sideBorder {
    border-right-style: solid;
    border-width: 5px;
    padding-right: 8%;
    border-color: #f07167;
}

/* center on div */
.center {
    text-align: center;
    display: flex;
    justify-content: center;
}
/* = = = = = = = = THE NINA STORY = = = = = = = = =*/
#findingNina {
    padding-left: 2rem;
    padding-right: 2rem;
}

/* = = = = = = = = = = MEDIA QUERIES = = = = = = = = = = */
/* Use this media query to be able to view on my iPhone by adjusting sizes */
@media all and (max-width: 500px) {
    html {
        height: 100%;
        font-family: Arial;
        /* margin: 20px 20px 20px 20px; */
    }

    header, footer, button, figcaption, li, p, h2, h4, tr, caption, p, li {
        font-size: 1rem;
    }

    figcaption, h1, th {
        font-size: 12px;
        padding: 10px;
    }

    nav {
        font-size: 10px;
        padding: 8px;
    }

    img.scale {
        width: 100%;
        height: auto;
    }

    caption {
        color: #fed9b7;
        padding: 8px;
        font-size: 13px;
    }
}