html {  /* uses element selector */
    height: 100%;
    font-family: fantasy;
    margin: 20px 20px 20px 20px;
}

.darkBlue{
    color: #002642;
}

h3,
ol,
form{
    color: #fed9b7;
}

p, li {
    color: #fdfcdc;
}

.table {
    display: flex;
    justify-content: center;
}

body {
    background-color: #0081a7;
    height: 100%;
    font-size: 22px;
    /* text-align: center; */
}

input, button {
    border: none;
    border: 3px #002642 solid;
    background-color: #fed9b7;
    color: #f07167;
}

h1 {
    color: #f07167;
}

h2 {
    color: #fed9b7;
}

tr {
    text-align: center;
    padding: 10px;
    color: #0d393b
}

caption {
    text-align: center;
    color: #0d393b;
    font-size: 33px;
}

table {
    border: 5px #002642 solid;
    color: #0081a7;
    /* use margins to center the table */
    margin-left: auto;
    margin-right: auto;
}

a {
    color: #00afb9;
    border: #0081a7;
}

td {
    background-color: rgba(244, 151, 142);
    border: 2px solid;
    color: #0d393b;
}

th {
    color: #002642;
    background-color: #FFE19C;
    border: 2px solid;
}

nav {
    justify-content: center;
    text-align: center;
    height: 130px;
    font-size: 20px;
}

header {
    /* border-color: #f07167; */
    border-color: red;
    border-width: 30px;
    border-style: ridge double;
    background-color: #fed9b7;
    text-align: center;
    font-size: 22px;
    color: #0081a7;
}

footer{
    display: flex;
    justify-content: center;
    color: #fed9b7;
    position: relative;
    margin: auto;
    height: 75px;
    width: 100%;
}

.center {    
    display: flex;
    justify-content: center;
} 

div.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-evenly;
    border: 10px #fdfcdc;
    border-style: solidcolor;
    padding: 20px 40px;
    background: #00afb9;
}

figcaption{
    display:flex;
    justify-content: center;
}

/* 
.borderimage {
    border-width: 50px;
    border-style: solid;
    padding: 15px;
    border-image: url('./images/border.png');
    background-repeat: no-repeat;
    /* border-image: url('./images/gold1.png') 25 stretch; */
/* border-image: url('./images/gold2.png') 25 stretch; */
/* <a href='https://pngpart.com/images/bt/gold-borders-7.png'>Image credit</a>} */