html {  /* uses element selector */
    height: 100%;
    font-family: fantasy;
    margin: 20px 20px 20px 20px;
}

.darkBlue{
    color: #002642;
}

h3,
ol,
form{
    color: #fed9b7;
}

p, li {
    color: #fdfcdc;
}

main {
    padding: 10px;
}

iframe {
    border: 5px solid #f07167;
}

body {
    background-color: #0081a7;
    height: 100%;
    font-size: 22px;
}

input, button {
    border: 3px #002642 solid;
    background-color: #fed9b7;
    color: #f07167;
}

section {
    padding-top: 60px;
}

#imgRound {
    border-style: solid;
    border-color: #00afb9;;
    border-radius: 25px;
    border-width: 40px;
}

img {
    border: 8px #fed9b7 solid;
}

h1 {
    color: #f07167;
}

h2 {
    color: #fed9b7;
}

tr {
    text-align: center;
    padding: 10px;
    color: #0d393b
}

caption {
    text-align: center;
    color: #0d393b;
    font-size: 33px;
}

table {
    border: 5px #002642 solid;
    color: #0081a7;
    /* use margins to center the table */
    margin-left: auto;
    margin-right: auto;
}

a {
    color: #00afb9;
    border: #0081a7;
}

td {
    background-color: rgba(244, 151, 142);
    border: 2px solid;
    color: #0d393b;
}

th {
    color: #002642;
    background-color: #FFE19C;
    border: 2px solid;
}

nav {
    justify-content: center;
    text-align: center;
    height: 130px;
    font-size: 20px;
}

header {
    border-color: #f07167;
    border-width: 30px;
    border-style: ridge double;
    background-color: #fed9b7;
    text-align: center;
    font-size: 22px;
    color: #0081a7;
}

footer {
    display: flex;
    justify-content: center;
    color: #fed9b7;
    position: relative;
    margin: auto;
    height: 75px;
    width: 100%;
}

.center {    
    display: flex;
    justify-content: center;
} 

div.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-evenly;
    border: 10px #fdfcdc;
    border-style: solidcolor;
    padding: 20px 40px;
    background: #00afb9;
}

figcaption {
    display:flex;
    justify-content: center;
}

@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3) { 

    header {
    border-width: 10px;
    font-size: 11px;
    }

}