html {  /* uses element selector */
    height: 100%;
    font-family: fantasy;
}

h2,
h3,
ol,
form{
    color: #0081a7;
}
/* 
h2{
    color: #0081a7;
} */

p, li {
    color: #fdfcdc;
}

.homeMainBody {
    display: flex;
    justify-content: center;
    background-color: #0081a7;
}

#homeFooter {
    color: white;
    position: absolute;
    text-align: center;
    bottom: 0;
    width: 100%;
}

h1 {
    color: #fdfcdc;
}

tr {
    text-align: center;
    padding: 10px;
    color: #0d393b
}

caption {
    text-align: center;
    color: #0d393b;
    font-size: 33px;
}

table {
    border: 5px #002642 solid;
    color: #553555;
}

a {
    color: #00afb9;
    border: #002642;
}

td {
    color: white;
    background-color: #1e787d;
    background: rgba(244, 151, 142);
    border: 1px solid;
    color: #553555;
}

th {
    color: #002642;
    background-color: #FFE19C;
}

nav {
    justify-content: center;
    text-align: center;
    height: 130px;
    font-size: 20px;
}

.restOfPagesBody {
    background-color: #0081a7;
    height: 100%;
    font-size: 22px;
}

.headers {
    border-color: #f07167;
    border-width: 50px;
    border-style: ridge double;
    background-color: #fed9b7;
    text-align: center;
    width: 100%;
    padding: 10px;
    font-size: 22px;
    color: #0081a7;
}

.mainFooters {
    text-align: center;
    width: 100%;
    padding: 10px;
    font-size: 22px;
    color: white;
}

#max {    
    max-width: 100%;
    height: auto;
} 

div.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    border: 10px #fdfcdc;
    border-style: solidcolor;
    padding: 10px 40px;
    background: rgb(170, 104, 104);
}

.grid-container {
    display: grid;
    /* height: 200px; */
    /* border: #fdfcdc; */
    /* align-content: stretch; */
    align-content: center;
    grid-template-columns: auto auto auto auto;
    /* justify-content: space-evenly,center; */
    justify-content: center;
}

a.grid-container {
    display: grid;
    height:200px;
    border: #fdfcdc;
    align-content: stretch;
    grid-template-columns: auto auto auto auto;
    /* justify-content: space-between; */

    /* Border??? */

    /* align-items: center; */
}

figcaption{
    display:flex;
    justify-content: center;
}

/* @media all and (media-feature-rule) {
    /* CSS rules go here */
}
@media media-type and (media-feature-rule) {
    /* CSS rules go here */
}
@media media-type and (media-feature-rule) {
    /* CSS rules go here */
} */

/* 
.borderimage {
    border-width: 50px;
    border-style: solid;
    padding: 15px;
    border-image: url('./images/border.png');
    background-repeat: no-repeat;
    /* border-image: url('./images/gold1.png') 25 stretch; */
/* border-image: url('./images/gold2.png') 25 stretch; */
/* <a href='https://pngpart.com/images/bt/gold-borders-7.png'>Image credit</a>} */

/* .homeHeader {
    border-color: rgb(240 113 103 .5);
    border-width: 50px;
    border-style: ridge double;
    background-color: rgb(244, 151, 142, .5);
    color: rgb(240 113 103 .5);
    text-align: center;
    width: 100%;
    height: 130px;
} */